* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 15rem;
  flex-wrap: wrap;
  color: white;
  animation: header 20s linear;
  animation-iteration-count: infinite;
}
@keyframes header {
  100%,
  0% {
    background-color: #0c4c70;
  }
  25% {
    background-color: #041941;
  }
  50% {
    background-color: #0e346d;
  }
  75% {
    background-color: #051435;
  }
}
nav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  flex: 1;
}
nav ul li a:hover {
  color: rgb(179, 188, 224);
  transition: 0.1s;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
  position: relative;
  overflow: hidden;

  background-image: linear-gradient(
    90deg,
    rgba(0, 89, 148, 0.63),
    rgba(37, 4, 114, 0.486)
  );
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
}
.video-bg {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
}
.hero img {
  max-width: 35%;
  margin-right: 15rem;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 1rem;
}
.hero-content {
  display: flex;
  margin-left: 15rem;
  gap: 1rem;
  padding-right: 4rem;
  flex-direction: column;
}
.hero-content h2 {
  font-size: 4rem;
  font-weight: bold;
}
.hero-content button {
  width: 9rem;
  height: 3rem;
  color: rgb(5, 66, 158);
  border-radius: 1rem;
  border-color: rgba(0, 0, 0, 0);
  font-size: 1rem;
}
.hero-content button:hover {
  background-color: rgba(233, 245, 255, 0.459);
  color: white;
  cursor: pointer;
  transition: 0.3s;
}
.info-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 4rem 15rem;
}
.info-section h2 {
  font-size: 3rem;
  padding-bottom: 3rem;
}
.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20rem;
  gap: 4rem;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.card-content {
  width: 12rem;
  height: 12rem;
  border: 1px solid rgba(0, 0, 0, 0);
  margin-bottom: 1rem;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}
.card p {
  width: 10rem;
  text-align: center;
}
.card-content img {
  max-height: 100%;
  position: absolute;
  object-fit: cover;
}
.cards a {
  text-decoration: none;
  color: black;
}
.cards a:hover {
  color: rgba(0, 0, 0, 0.562);
}
.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30rem;
  gap: 2rem;
  flex-direction: column;
  background-color: #e5e7eb;
}
.quote em {
  font-size: 2rem;
  font-weight: 100;
  margin: 0 25rem;
}
.quote h3 {
  margin-left: auto;
  margin-right: 25rem;
  font-size: 1.5rem;
}
.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25rem;
  gap: 2rem;
}
.cta-content {
  background-color: #3882f6;
  width: 70rem;
  height: 10rem;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 1rem;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
}
.cta-content button {
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  width: 7.5rem;
  height: 2.5rem;
  font-weight: 900;
  font-size: 1rem;
  border-radius: 5px;
}
.cta-content button:hover {
  background-color: white;
  color: #3882f6;
  cursor: pointer;
  transition: 0.3s;
}
.cta-content h3 {
  font-weight: 900;
}
